build/
mc-build/
cmake-build-debug/
.idea/
lcm_types/cheetahlcm
lcm_types/c_lcm_files
lcm_types/controllerlcm
lcm_types/interfacelcm
lcm_types/java
lcm_types/simulatorlcm
lcm_types/wincontrollerlcm
lcm_types/file_list.txt
lcm_types/cpp/*
lcm_types/lcmtypes/*
lcm_types/python/*
lcm_data/lcm_log
lcm_data/matlab_log
lcm_data/matlab_log_archive
optimization_data
sim_data
test_data
planning_data
*.m~
*.pyc
documentation/doxygen/latex
documentation/doxygen/html
documentation/doxygen/html
documentation/doxygen/latex
user/MHPC_Controller/PreComputeData
.DS_Store
tags
log/
.vscode
